{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert" style="z-index: 1050;">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}
