{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="security-body">
        <div class="illustration-container">
            &nbsp;
        </div>
        <div class="form-container">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1>Connexion</h1>
                <div class="form-group">
                    <label for="inputEmail">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-fullwidth" type="submit">
                    Se connecter
                </button>
            </form>
            <div class="security-link" ><a href="{{ path('app_register') }}">Pas encore de compte ? S'inscrire</a></div>
        </div>
    </div>
{% endblock %}
