{% extends 'base.html.twig'   %}
{% block title %}Accueil - Greengoodies{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
            <p>Retrouver des articles d'hygiène & beauté, des accessoires & boisson et du prêt à porter</p>
        </div>
        <div class="hero-image">
            <img src="{{ asset('images/hero-image.png') }}" alt="Bienvenue chez Greengoodies">
        </div>
    </section>
    <section class="accueil-products">
        <h2>Nos Produits</h2>
        <div class="product-list">
            {% for product in products %}
                {% include 'product/homeCard.html.twig' %}
            {% endfor %}
        </div>
    </section>
    <div class="valeurs">
        <section class="feature-section">
            <div class="feature-content">
                <div class="feature-content--text">
                    <h2>Notre conviction</h2>
                    <p>
                        Chez GreenGoodies, nous croyons en un monde où le commerce
                        peut être synonyme de bien-être pour la planète et ses
                        habitants. Cet idéal guide chacune de nos actions, d'une sélection
                        rigoureuse de produits qui allient qualité, durabilité et éthique.
                    </p>
                </div>
            </div>
            <div class="feature-image">
                <img src="{{ asset('images/image-fleurs.png') }}" alt="Branche de mimosa en fleurs">
            </div>
        </section>

        <section class="feature-section feature-section--reversed">
            <div class="feature-content">
                <div class="feature-content--text">
                    <h2>Nos valeurs</h2>
                    <p>
                        <strong>Durabilité :</strong> Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.
                        <br>
                        <strong>Éthique :</strong> Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs sociales.
                        <br>
                        <strong>Écologie :</strong> Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.
                    </p>
                </div>
            </div>
            <div class="feature-image image-overlay">
                <img src="{{ asset('images/image-sacs-verts.png') }}" alt="Sacs poubelles écologiques verts">
            </div>
        </section>
    </div>
{% endblock %}
