header {
  background-color: #FFF;
  padding: 30px 5%;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 0;
}
header nav ul li {
  padding: 0;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: white;
  padding: 30px 5%;
  display: flex;
  justify-content: flex-end;
}

.hero-section {
  display: flex;
  width: 100%;
  min-height: 80vh;
  height: auto;
}
.hero-section .hero-content {
  background-color: #E8F0E3;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .hero-content h1 {
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 30px;
  margin-left: calc(50% - 200px);
  width: 400px;
}
.hero-section .hero-content p {
  width: 400px;
  margin-left: calc(50% - 200px);
}
.hero-section .hero-image {
  width: 50%;
}
.hero-section .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accueil-products h2 {
  padding: 40px 0 40px 100px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.valeurs {
  font-family: Inter, sans-serif;
}
.valeurs .feature-section {
  display: flex;
  justify-content: space-between;
  background-color: #EBE3D3;
}
.valeurs .feature-section--reversed {
  flex-direction: row-reverse;
  background-color: #E8F0E3;
}
.valeurs .feature-section--reversed .feature-content {
  justify-content: flex-end;
}
.valeurs .feature-content {
  display: flex;
  align-items: flex-end;
  padding: 40px;
  color: #333;
}
.valeurs .feature-content .feature-content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
  font-weight: 300;
  font-size: 14px;
}
.valeurs .feature-content .feature-content--text h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.security-body {
  display: flex;
  min-height: 800px;
  height: auto;
}
.security-body > div {
  width: 50%;
}
.security-body .illustration-container {
  background-image: url("../images/connexion.jpg");
  background-size: cover;
  background-position: center;
}
.security-body .illustration-container.subcribe {
  background-image: url("../images/subscribe.jpg");
}
.security-body .form-container {
  padding-bottom: 10%;
}
.security-body .form-container h1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
}
.security-body .form-container form {
  padding: 80px 8% 30px 8%;
}
.security-body .form-container form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.security-body .form-container form .form-group label {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
.security-body .form-container form .form-group input {
  font-weight: 500;
  font-size: 20px;
  height: 58px;
  border-color: #666666;
}
.security-body .form-container form .cgu-checkbox {
  display: flex;
  margin-bottom: 30px;
}
.security-body .form-container form .cgu-checkbox label {
  order: 2;
  margin-left: 10px;
}
.security-body .form-container .security-link {
  text-align: center;
}
.security-body .form-container .security-link a {
  text-decoration: underline;
  color: #666666;
}

.product-page h1 {
  margin: 40px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.product-details-page {
  display: flex;
  min-height: 800px;
  height: 100%;
}
.product-details-page .product-image {
  /*width: 50%;*/
  display: flex;
  overflow: hidden;
}
.product-details-page .product-image img {
  object-fit: cover;
}
.product-details-page .product-info {
  color: #565656;
  padding: 80px 8% 0 8%;
  display: flex;
  flex-direction: column;
}
.product-details-page .product-info h1 {
  font-size: 20px;
  font-weight: 500;
}
.product-details-page .product-info .price {
  margin-top: 20px;
  font-weight: 300;
  font-size: 30px;
}
.product-details-page .product-info .description {
  margin-top: 50px;
  font-size: 14px;
  font-weight: 400;
}
.product-details-page .product-info .description span {
  font-size: 10px;
}
.product-details-page .product-info .actions {
  margin-top: auto;
}
.product-details-page .product-info .actions .btn {
  text-decoration: none;
}
.product-details-page .product-info .actions .btn:hover {
  text-decoration: underline;
}
.product-details-page .form-quantity-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.product-details-page .form-quantity-input input {
  height: 40px;
  width: 75px;
  border: solid 1px #666666;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.product-card {
  display: flex;
  flex-direction: column;
}
.product-card .image-container {
  width: 100%;
  height: 440px;
  overflow: hidden;
}
.product-card .image-container img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}
.product-card a {
  text-decoration: none;
}
.product-card h3 {
  color: #000000;
  margin: 40px 0 8px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.product-card p {
  padding: 0 10%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #565656;
}
.product-card p.price {
  margin-top: 20px;
}
.product-card a.link-cta {
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.product-card a.link-cta:hover {
  text-decoration: underline;
}

.profile-page {
  margin: 0 auto;
  padding: 25px 0 70px 0;
  width: 100%;
  /*max-width: 600px;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-page h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.profile-page > section, .profile-page > p {
  margin: auto;
  width: 600px;
  padding: 60px;
  background-color: #FFFDF7;
}

.profile-page h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}
.profile-page table {
  font-size: 14px;
}
.profile-page table thead th {
  color: #666666;
  font-weight: 400;
}
.profile-page table tbody {
  color: #333;
  font-weight: 500;
}
.profile-page table tbody tr {
  height: 45px;
  border-bottom: solid 1px #666666;
}
.profile-page table tbody tr:nth-last-child(1) {
  border-bottom: none;
}
.profile-page table tbody tr a {
  color: #666666;
  text-decoration: none;
}
.profile-page table tbody tr td {
  width: 33%;
}
.profile-page.cart > * {
  margin: auto;
}
.profile-page.cart .breadcrumb-link {
  width: 600px;
}
.profile-page.cart .breadcrumb-link::before {
  content: "x ";
  font-size: 12px;
  padding-right: 5px;
}
.profile-page.cart .breadcrumb-link {
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}
.profile-page.cart .product-basket-card {
  width: 600px;
  padding: 40px;
  background-color: #FFFDF7;
  display: flex;
}
.profile-page.cart .product-basket-card .img-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.profile-page.cart .product-basket-card .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile-page.cart .product-basket-card .product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  font-size: 14px;
  color: #000000;
}
.profile-page.cart .product-basket-card .product-details h3 {
  font-weight: 600;
  font-size: 14px;
}
.profile-page.cart .product-basket-card .product-details p {
  font-weight: 400;
  color: #666666;
}
.profile-page.cart .product-basket-card .product-details p.price {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.profile-page.cart .total-cart {
  width: 600px;
  padding: 24px 40px;
  background-color: #FFFDF7;
  text-align: right;
  margin-bottom: 30px;
}
.profile-page.cart .total-cart p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
}
.profile-page.cart .total-cart p span {
  font-weight: 400;
  font-size: 20px;
}
.profile-page.cart .total-cart p.shipping-fee {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
}
.profile-page.cart .btn-fullwidth {
  margin: auto;
  width: 80%;
  max-width: 590px;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  width: 100%;
  background-color: #FFFDF7;
}
body .profile-page {
  background-color: #F7F1EC;
}

h2 {
  margin-bottom: 0;
}

.btn {
  cursor: pointer;
  background-color: #565656;
  color: white;
  border: none;
  padding: 30px;
  text-align: center;
  border-radius: 0;
}
.btn:hover {
  background-color: rgb(60.5, 60.5, 60.5);
  color: #FFF;
}

.btn-fullwidth {
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.btn-fullwidth:hover {
  text-decoration: underline;
}

.alert {
  margin: 20px 2%;
}

footer {
  margin-top: auto;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
