header {
    background-color: #FFF;
    padding: 30px 5%;

    display: flex;
    justify-content: space-between;

    nav {
        ul {
            display: flex;
            gap: 20px;
            list-style-type: none;
            margin-bottom: 0;
            li {
                padding: 0;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

    }
}
