header {
    background-color: $bgColor;
    padding: 30px 10%;

    display: flex;
    justify-content: space-between;

    nav {
        ul {
            display: flex;
            gap: 20px;
            list-style-type: none;
            li {
                padding: 0;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

    }
}
