{% extends 'base.html.twig' %}

{% block title %} Détail de la commande {% endblock %}

{% block body %}
    <main class="profile-page cart">
        <h1>Commande N°{{ order.orderNumber }} - le {{ order.validatedAt|date('d/m/Y') }}</h1>
         <a href="{{ path('app_user_profile') }}" class="breadcrumb-link">Retour à mon compte</a>
         {% for orderline in order.orderLines %}
             {% include 'product/cartCard.html.twig' %}
         {% endfor %}
         <hr>
         <p>Total : {{ order.getTotalPrice() }} €</p>
         <p class="shipping-fee">Frais de livraison : offert</p>
    </main>
{% endblock %}
